    <!-- footer.ejs -->
    <!-- Patrick Ross -->
    <!-- Patrick's Portfolio' -->
    <!-- This is the footer for the website, containing javascript tags -->
    
    <!-- Javascript section -->
    <script src="scripts/lib/jquery/dist/jquery.js"></script>
    <script src="scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="scripts/jquery.easing.min.js"></script>
    <script src="scripts/jquery.fittext.js"></script>
    <script src="scripts/wow.min.js"></script>
    <script src="scripts/creative.js"></script>
    <script src="scripts/app.js"></script>
</body>
<footer>
    <h6 class="text-center text-muted">© Copyright Patrick Ross | Design by: <a href="http://getbootstrap.com/">Boot Strap</a></h6>
</footer>

</html>