    <!-- Javascript section -->
    <script src="scripts/lib/jquery/dist/jquery.js"></script>
    <script src="scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="scripts/jquery.easing.min.js"></script>
    <script src="scripts/jquery.fittext.js"></script>
    <script src="scripts/wow.min.js"></script>
    <script src="scripts/creative.js"></script>
    <script src="scripts/app.js"></script>
</body>

</html>