<!-- index.ejs -->
<!-- Patrick Ross -->
<!-- Patrick's Portfolio' -->
<!-- This is the main content of the site, it contains all of the content -->

<!-- includes header.ejs -->
<% include partials/header.ejs %>

    <!-- This is the home page portion of the website-->
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Hello! My name is Patrick Ross, and this is my website.</h1>
                <hr>
                <p>Please look through the website to learn more about me, what I do, and how to contact me.</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Learn more about me.</a>
            </div>
        </div>
    </header>

    <!-- this is the about section of the website-->
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">What I do!</h2>
                    <hr class="light">
                    <img src="images/mugshot.jpg" class="img-circle" alt="Cinque Terre" width="300" height="300">
                    <hr class="light">
                    <p class="text-faded">I am a second year Computer Programmer Analyst student at Georgian college. I am learning multiple programming
                        languages from industry professionals so when I graduate from Georgian College I am prepared to enter
                        the workforce.</p>
                    <hr class="light">
                    <p class="text-faded">I have worked at K-Line Maintenance and Construction for a Co-op as I.T. Support. While there, I assisted
                        users with any electronic related problem, setting up new phones, accounts, and computers as well
                        as programming in Visual Basic and assisting in developing their website.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- this is the services section of the website-->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Some of my skills.</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <!-- C# image -->
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <img src="images/services/csharp.png" class="img-circle" alt="Cinque Terre" width="200" height="200">
                        <h3>C Sharp</h3>
                        <p class="text-muted">I have experience developing applications with C Sharp.</p>
                    </div>
                </div>
                <!-- mysql image -->
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <img src="images/services/mysql.jpg" class="img-circle" alt="Cinque Terre" width="200" height="200">
                        <h3>MySQL</h3>
                        <p class="text-muted">I have experience in creating and manipulating MySQL databases.</p>
                    </div>
                </div>
                <!-- javascript image -->
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <img src="images/services/javascript.png" class="img-circle" alt="Cinque Terre" width="200" height="200">
                        <h3>Javascript</h3>
                        <p class="text-muted">I have experience developing with Javascript.</p>
                    </div>
                </div>
                <!-- html image-->
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <img src="images/services/html.png" class="img-circle" alt="Cinque Terre" width="200" height="200">
                        <h3>HTML</h3>
                        <p class="text-muted">I have experience developing web applications with HTML.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- This is the projects section of the website-->
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <!-- link to all sport sewing project -->
                <div class="col-lg-4 col-sm-6">
                    <a href="http://gc200307049.computerstudi.es/AllSportSewing/default.php?id=7" class="portfolio-box">
                        <img src="images/projects/allsporthomepage.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    PHP Website
                                </div>
                                <div class="project-name">
                                    All Sport Sewing
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- link to oblivion movie poster project-->
                <div class="col-lg-4 col-sm-6">
                    <a href="http://gc200307049.computerstudi.es/Oblivion/index.html" class="portfolio-box">
                        <img src="images/projects/oblivion.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    HTML Website
                                </div>
                                <div class="project-name">
                                    Oblivion Movie Poster
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- link to an inclass assignment-->
                <div class="col-lg-4 col-sm-6">
                    <a href="http://gc200307049.computerstudi.es/lastclass/login.php" class="portfolio-box">
                        <img src="images/projects/lastclass.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    PHP Website
                                </div>
                                <div class="project-name">
                                    Class Web Application
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- link to marlboro website project-->
                <div class="col-lg-4 col-sm-6">
                    <a href="http://gc200307049.computerstudi.es/Marlboro/index.html" class="portfolio-box">
                        <img src="images/projects/Marlboro.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    HTML Website
                                </div>
                                <div class="project-name">
                                    Marlboro Website
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- link to MEAN stack portfolio inclass-->
                <div class="col-lg-4 col-sm-6">
                    <a href="http://patrickrosscomp2068lab03.azurewebsites.net/" class="portfolio-box">
                        <img src="images/projects/portfoliotest.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    MEAN Stack
                                </div>
                                <div class="project-name">
                                    Testing MEAN stack web development
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- link to registration form-->
                <div class="col-lg-4 col-sm-6">
                    <a href="http://gc200307049.computerstudi.es/lesson8php/register.php" class="portfolio-box">
                        <img src="images/projects/register.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    PHP Website
                                </div>
                                <div class="project-name">
                                    Registration Web App
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- includes the contact form-->
    <% include contact.ejs %>
        <!-- includes the footer-->
        <% include partials/footer.ejs %>